@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);

*{
  margin: 0px;
  padding: 0px;
}

*, *::before, *::after {box-sizing:border-box;}

html {font-size:62.5%;}
body {
  font-size:1.4rem;
  font-family: 'Oswald', Arial, sans-serif;
}

.clearfix::after {
  content:'';
  display:block;
  clear:both;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 4;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

.header{
	background-color: black;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index : 2;
}

header img{
	float:left;
	width: 320px;
  margin: 20px 0 10px 20px;
}

header h1{
	float:left;
	margin:20px 20px 10px 0px;
	color:white;
	font-size: 50px;
}

.sp{display:none;}

.gnav{
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    margin-top: 120px;
    z-index : 2;
}
.gnav_wrapper{
    max-width: 980px;
    margin: auto;
    display: flex;
	list-style: none;
}
.gnav_wrapper li{
    border-left: #888 1px solid;
    text-align: center;
    width: calc(100%/7);
    transition: all  0.3s ease;
}
.gnav_wrapper li:last-child{border-right: #888 1px solid;}
.gnav_wrapper li:hover{background-color: #888;}
.gnav_wrapper li a{
    display: block;
    padding: 1.3em 0;
    color: #fff;
    text-decoration: none;
}

footer {
	background-color: black;
	border-top: solid 1px #eee;
	height:120px;
  width: 100%;
	color:white;
	font-size:15px;
	padding-top:30px;
	padding:20px;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  display:none;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition   : 0.5s ease-in-out;
  transition        : 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {top: 10px;}
.hamburger span:nth-child(2) {top: 20px;}
.hamburger span:nth-child(3) {top: 30px;}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background : #fff;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background : #fff;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  display: none;

}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}

nav.globalMenuSp ul li:last-child {padding-bottom: 0;}
nav.globalMenuSp ul li:hover{background :#ddd;}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {display: block;}

@media all and (max-width: 670px) {
.sp{
display:block;
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
}

.gnav {display: none;}
.hamburger {display: block;}
.header{
  height: 100px;
  text-align: center;
}
header img {
  width: 250px;
  float: none;
  margin-left: -5px;
}
header h1 {
  font-size:40px;
  margin:20px 20px 10px 0px;
}
}

.wrapper{
  width: 100vw;
  background-color: #f2f0f0;
}
#app{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  background-color: #f2f0f0;
}
.searchBoxWrapper{
  text-align: center;
}
.searchBox{
  width: 400px;
  height: 50px;
  border: none;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
input[type="text"]:focus {
  border: 1px solid #b4b3b1;
  outline: 0;
}
.cardWrapper{
  display: flex; 
  flex-wrap:wrap; 
  width: 100%; 
  margin: auto;
}
.card{
  max-width:300px;
  min-width: 300px;
  height: 450px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
}
.card:last-child{
  margin-bottom: 50px;
}
.icon{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 170px;
  left: 100px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
}
.songName{
  position: absolute;
  left: 5px;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 3px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 70%);
}
.imgWrapper{
  height: 50%;
  background-color: #b4b3b1;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.article{
  height: 50%;
  text-align: center;
}
.lyrics{
  font-size: 13px;
  padding: 10px;
  white-space: pre-wrap;
  color: #555;
}

/* Modal */
button {
  font-size: 30px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal__container {
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .modal__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
} */
.modal__content {
  /* margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5; */
}

.modal__close::before {content: "\2715";}

/* Animation */
@keyframes mmfadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
      transform: translateY(10%);
  }

  to {
      transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.sp-ArtistImg{
  max-width: 500px;
}
.sp{display: none;}

.sentence{
  padding: 40px;
  padding-top: 240px;
  text-align: center;
}
@media all and (max-width: 670px) {
  #app{
    text-align: center;
  }
  .searchBox{
    width: 90%;
    margin-bottom: 0px;
  }
  .modal__container {
    max-width: 80%;
  }
  .sp-ArtistImg,.sp-AlbumImg{
    max-width: 100%;
  }
  .sp{
    display: block;
  }
  .sentence{
    padding-bottom: 0px;
    padding-top: 120px;
  }
}

.MIX_title{
  font-size: 35px;
}
.explain{
  margin: 10px;
  color: #888;
}
.PunchLineIcon{
  width: 50px;
  margin: 5px 5px -5px 5px;
}